<h1>Novo tipo de imóvel</h1>

<ul>
<%= @property_type.errors.full_messages do |message| %>
  <li>message</li>
<% end %>
</ul>

<%= form_for @property_type do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.submit 'Cadastrar' %>
<% end %>
