    
    
    <h1>Formulário de proposta</h1>
    <ul>
        <li> Nome do locatário: <%= @proposal.guest_name %> </li>
        <li> Email do locatário: <%= @proposal.email %> </li>
        <li> Telefone do locatário: <%= @proposal.phone %> </li>
        <li> Data de início da locação: <%= @proposal.start_date %> </li>
        <li> Data de término da locação: <%= @proposal.end_date%> </li>
        <li> Quantidade de hóspedes: <%= @proposal.total_guests %> </li>
        <li> Motivo da locação: <%= @proposal.rent_purpose %> </li>
        <li> Permite animais? <%= @proposal.pet %> </li>
        <li> Permite fumantes? <%= @proposal.smoker %> </li>
        <li> Detalhes: <%= @proposal.details %> </li>
        <li> Valor total: <%= @proposal.total_amount %> </li>
    </ul>
