    <h1> <%= p.proposal.title %> </h1>
    <ul>
        <li> Nome do locatário: <%= p.guest_name %> </li>
        <li> Email do locatário: <%= p.email %> </li>
        <li> Telefone do locatário: <%= p.phone %> </li>
        <li> Data de início da locação: <%= p.start_date %> </li>
        <li> Data de término da locação: <%= p.end_date%> </li>
        <li> Quantidade de hóspedes: <%= p.total_guests %> </li>
        <li> Motivo da locação: <%= p.rent_purpose %> </li>
        <li> Permite animais? <%= p.pet %> </li>
        <li> Permite fumantes? <%= p.smoker %> </li>
        <li> Detalhes: <%= p.details %> </li>
        <li> Valor total: <%= p.total_amount %> </li>
    </ul>
